@font-face {
    font-family: 'founders';
    src: url("../fonts/FoundersGrotesk-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE
}

@font-face {
    font-family: 'founders';
    src: url("../fonts/FoundersGrotesk-RegularItalic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-00FE
}

@font-face {
    font-family: 'founders';
    src: url("../fonts/FoundersGrotesk-SemiboldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-00FE
}

@font-face {
    font-family: 'founders';
    src: url("../fonts/FoundersGrotesk-Semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE
}

.page--dashboard {
    background: #fff;
    color: #004F59;
    padding-top: 60px;
}

.main_header {
    background: #004F59;
    padding: 7px 0;
    margin-bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
}

.page__wrap {
    overflow-x: hidden;
}

.header_logo {
    display: flex;
    align-items: flex-start;
    width: 161px;
    margin-right: 35px;
}

img {
    max-width: 100%;
    height: auto;
}

.main_header .container {
    max-width: 1345px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo img {
    width: 100%;
    height: auto;
}

.header_menu {
    flex: 1;
}

.header_add_menu {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header_menu ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.header_menu a {
    font-family: 'founders';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: #D1DDE6;
    display: flex;
    padding: 16px 18px;
}

.loaded .header_menu a {
    transition: 0.25s;
}


.header_menu li {
    margin: 0 5px;
}

.header_add_menu__logout {
    font-family: 'founders';
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 24px;
    margin-left: 22px;
    background: #40C1B4;
    transition: 0.25s;
}

.loaded .header_add_menu__logout {
    transition: 0.25s;
}


.header_add_menu__link {
    font-size: 0;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loaded .header_add_menu__link {
    transition: 0.25s;
}

.dashboard_content__top {
    border-bottom: 1px solid #40C1B4;
    padding: 28px 0;
}

.dashboard_content .container {
    max-width: 1125px;
}

.dashboard_content__title {
    margin: 0;
    font-weight: 400;
    font-size: 28px;
    font-family: Georgia;
}

.dashboard_content__inner {
    border: 1px solid #40C1B4;
    border-top: 0;
    padding: 31px 31px 47px;
    border-bottom: none;
}

.dashboard_content__info__title {
    font-family: 'Georgia';
    font-size: 28px;
    line-height: 1.2;
    /* identical to box height */
    margin-bottom: 14px;
}

.dashboard_content__info__text p {
    color: inherit;
}

.dashboard_content__info__text {
    font-family: 'Georgia';
    max-width: 720px;
    line-height: 1.2;
    margin-bottom: 39px;
}

.dashboard_content__info__view {
    display: flex;
    justify-content: flex-end;
    margin-right: -20px;
    align-items: center;
}

.dashboard_content__info__view button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.dashboard_content__list_x {
    display: flex;
    margin: 0 -40px;
    flex-wrap: wrap;
}

.dashboard_content__info__view button svg>* {
    transition: 0.25s;
}

.dashboard_content__info__view button.active svg>* {
    stroke: #40C1B4;
}

.dashboard_content__item_x {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 8px;
    border: 1px solid #40C1B4;
    width: calc(100% / 3 - 16px);
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
    position: relative;
    padding-bottom: 96px;
}

.dashboard_content__info {
    margin-bottom: 12px;
}

.dashboard_content__item_x__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.35;
    /* identical to box height, or 178% */
    text-transform: uppercase;
    color: #40C1B4;
    font-family: 'founders';
    margin-bottom: 6px;
}

.dashboard_content__item_x__image {
    display: flex;
    margin-bottom: 21px;
}

.dashboard_content__item_x__text {
    font-family: 'founders';
    color: #004F59;
    font-size: 18px;
    max-width: 280px;
    line-height: 1.25;
}

.dashboard_content__item_x__link {
    display: flex;
    position: absolute;
    left: 15px;
    bottom: 24px;
    color: inherit;
    align-items: flex-start;
}

.dashboard_content__item_x__link__inner {
    margin-left: 13px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}

.main_footer__text {
    text-align: center;
    padding: 25px;
}

.header_menu a:hover {
    background: #013C43;
}

.header_add_menu__logout:hover {
    background: #013C43;
    color: #fff;
}

.header_add_menu__link:hover {
    opacity: 0.75;
}

.dashboard_content__info__view button:hover svg>* {
    stroke: #003c43;
}

.main_footer {
    background: #d6d6d6;
}

.dashboard_content__item_x__title a {
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
}

.loaded .dashboard_content__item_x__title a {
    transition: 0.25s;
}

.dashboard_content__item_x__title a:hover {
    color: #004f59;
}

.dashboard_content__list_x.list .dashboard_content__item_x {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    text-align: left;
    margin-bottom: 16px;
    padding: 15px 20px 85px;
    flex-basis: 100%;
    flex-grow: 1;
}

.dashboard_content__list_x.list .dashboard_content__item_x .dashboard_content__item_x__image {
    margin-right: 24px;
    margin: 10px 24px 10px -10px;
    width: 100px;
}

.dashboard_content__list_x.list .dashboard_content__item_x__text {
    max-width: 800px;
}

.dashboard_content__list_x.list .dashboard_content__item_x__link {
    left: 40px;
}

.dashboard_content__list_x.list .dashboard_content__item_x .dashboard_content__item_x__info {
    flex: 1;
}

.header__btn_menu {
    display: none;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    position: relative;
    background: 0 0;
    border: none;
    appearance: none;
    border-radius: 0;
    margin-right: -5px;
    margin-left: 20px;
}

.header__btn_menu span {
    background: #fff;
    width: 100%;
    height: 2px;
    position: absolute;
    border-radius: 5px;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transition: .5s
}

.header__btn_menu span:nth-child(1) {
    transform: translate(0, -9px)
}

.header__btn_menu span:nth-child(2) {
    transform: translate(0, 0)
}

.header__btn_menu span:nth-child(3) {
    transform: translate(0, 9px)
}

.header__btn_menu.active span:nth-child(1) {
    transform: translate(0, 0) rotate(45deg);
}

.header__btn_menu.active span:nth-child(2) {
    opacity: 0
}

.header__btn_menu.active span:nth-child(3) {
    transform: translate(0, 0) rotate(-45deg);
}

.modal_menu {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-100%, 0);
    opacity: 0;
    bottom: 0;
    overflow-y: scroll;
    z-index: 10;
    background: #004f59;
    width: 100%;
}

.loaded .modal_menu {
    transition: 0.35s ease-in-out;
}

.modal_menu.active {
    opacity: 1;
    transform: translate(0, 0);
}

.modal_menu::-webkit-scrollbar {
    display: none;
}

.modal_menu {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modal_menu__inner {
    padding: 32px;
    position: relative;
}

.modal_menu__logo {
    display: flex;
    align-items: flex-start;
    max-width: 175px;
    margin-bottom: 40px;
}

.header_menu__modal {
    margin-bottom: 40px;
}

.header_menu__modal li {
    margin-bottom: 15px;
    text-transform: uppercase;
}

.header_menu__modal li:last-child {
    margin-bottom: 0;
}

.header_add_menu__modal {
    display: flex;
    align-items: center;
}

.header_add_menu__modal .header_add_menu__logout {
    padding: 14px 36px;
    background: #013c43;
}

.btn_close_menu {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 45px;
    height: 45px;
    z-index: 12;
}

.btn_close_menu:before, .btn_close_menu:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 75%;
    height: 1px;
    background: #fff;
    margin: auto;
    transform: rotate(45deg);
}

.btn_close_menu:after {
    transform: rotate(-45deg);
}

.header_add_menu__link--mobile {
    font-family: 'founders';
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 12px 30px;
    background: #004f59;
    display: flex;
    width: auto;
    height: auto;
    margin-left: 0;
    border: 1px solid;
    opacity: 0.75;
}

.loaded .header_add_menu__link--mobile {
    transition: 0.25s;
}

.dashboard__setting__title {
    font-family: 'founders';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    display: flex;
    text-transform: uppercase;
    color: #40C1B4;
    flex: 1;
    text-align: right;
    justify-content: flex-end;
    border-right: 1px solid #40C1B4;
    padding: 25px 16px;
}

.dashboard__setting__row {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #40C1B4;
}

.dashboard__setting__val {
    flex: 1;
    padding: 25px 16px;
}

.dashboard__setting__block {
    margin: 0 -30px 30px;
    position: relative;
}

.dashboard__setting__block__list {
    border-top: 1px solid #40C1B4;
    position: relative;
}

.dashboard__setting__block__title {
    font-size: 28px;
    line-height: 32px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #004F59;
    padding: 30px 30px 30px;
}

.dashboard__setting__val__btns {
    position: absolute;
    right: -1px;
    top: -1px;
}

.dashboard__setting__val__phone_type {
    display: flex;
    align-items: center;
    margin-left: -15px;
    margin-top: 25px;
}

.dashboard__setting__val__phone_type__item {
    display: flex;
    align-items: center;
    margin: 0 15px;
    cursor: pointer;
}

.dashboard__setting__val__phone_type__item input {
    opacity: 0;
    z-index: -1;
    position: absolute;
}

.dashboard__setting__val__phone_type__item__text {
    font-family: 'founders';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    /* identical to box height */
    text-transform: uppercase;
    color: #40C1B4;
    margin-left: 8px;
}

.dashboard__setting__val__phone_type__item__view {
    width: 24px;
    height: 24px;
    border: 1px solid #40C1B4;
    position: relative;
}

.dashboard__setting__block:first-child .dashboard__setting__block__list {
    border-top: none;
}

.dashboard__setting__block:first-child {
    margin-top: -30px;
}

.dashboard__setting__val__field__add_email {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    display: block;
    align-items: center;
    color: #004F59;
    font-family: 'founders';
    margin-top: 6px;
}

.dashboard__setting__val__field__add_email a {
    color: #40C1B4;
    margin-left: 5px;
}

.dashboard__setting__val__field__add_email a:hover {
    color: inherit;
}

.dashboard__setting__val__field input {
    border: none;
    padding: 13px 15px;
    appearance: none;
    border-radius: 0;
    color: #004F59;
    background: #f1f1f1;
    font-size: 18px;
    font-family: 'founders';
    font-weight: 500;
    margin-left: 0;
}

.loaded .dashboard__setting__val__field input {
    transition: 0.25s;
}


.dashboard__setting__val__phone_type__item input:checked ~ .dashboard__setting__val__phone_type__item__view:before {
    opacity: 1;
}

.dashboard__setting__val__phone_type__item__view:before {
    content: '';
    width: 70%;
    margin: auto;
    height: 70%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: #40c1b4;
    position: absolute;
    transition: 0.25s;
    opacity: 0;
}

.dashboard__setting__val__save {
    display: none;
    background: #40C1B4;
    font-family: 'founders';
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 30px 45px;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.25s;
}

.dashboard__setting__val__edit {
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    display: flex;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #004F59;
    font-family: 'founders';
    position: absolute;
    top: 15px;
    right: 15px;
}
.dashboard__setting__val__save:hover {
    background: #004f59;
}
.dashboard__setting__val__field input:disabled {
    background: transparent;
    padding: 0;
}
.dashboard__setting__val__edit:hover {
    text-decoration: none;
    color: #40c1b4;
}

@media screen and (max-width: 1100px) {
    .header__btn_menu {
        display: flex;
    }

    .header_menu {
        display: none;
    }

    .dashboard_content__item_x {
        width: calc(100% / 2 - 16px);
        flex-basis: 390px;
        flex-grow: 1;
        margin: 0 8px 16px;
    }

    .dashboard_content__list_x {
        margin-bottom: -16px;
    }
}

@media screen and (max-width: 750px) {
    .dashboard__setting__val__edit {
    position: static;
}

.dashboard__setting__val__save {
    position: static;
    padding: 15px 55px;
}
    .dashboard__setting__block__title {
    line-height: 1.2;
    font-size: 26px;
    padding: 75px 20px 20px;
}


.dashboard__setting__block__list {
    border-bottom: 1px solid #40c1b4;
}
    .dashboard__setting__row {
        flex-direction: column;
        padding: 22px 20px;
    }

    .dashboard__setting__title {
        justify-content: flex-start;
        padding: 0;
        margin-bottom: 11px;
        border: navajowhite;
    }

    .dashboard__setting__val {
        padding: 0;
    }

    .dashboard__setting__val__btns {
        position: static;
        padding: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

@media screen and (max-width: 650px) {
    .dashboard__setting__block {
        margin: 0 -25px 0;
    }

    .header_logo {
        margin-right: 0;
        width: 130px;
    }

    .header_add_menu__logout {
        font-size: 12px;
        padding: 10px 21px;
        margin-left: 11px;
    }

    .header_add_menu__link {
        padding: 6px;
        margin-top: 1px;
    }

    .header__btn_menu {
        margin-left: 17px;
    }

    .main_header {
        padding: 11px 0 15px;
    }

    .dashboard_content__info__text {
        margin-bottom: 25px;
    }

    .dashboard_content__info__view {
        justify-content: flex-start;
    }

    .dashboard_content__inner {
        padding: 24px;
    }

    .dashboard_content__info__title {
        font-size: 24px;
    }

    .dashboard_content__info__text {
        line-height: 1.45;
    }

    .dashboard_content__item_x {
        margin: -1px -25px 0;
    }

    .dashboard_content__list_x {
        margin: 0 0 16px;
    }

    .dashboard_content__item_x__text {
        font-size: 15px;
    }

    .dashboard_content__item_x__title {
        font-size: 17px;
    }

    .dashboard_content__item_x__image {
        width: 95px;
        margin-bottom: 16px;
    }

    .dashboard_content__item_x__link__inner {
        font-size: 14px;
        margin-top: 1px;
    }

    .dashboard_content__item_x__link svg {
        width: 26px;
    }

    .header_add_menu__link--mobile {
        font-size: 14px;
        padding: 11px 25px;
    }
}

@media screen and (max-width: 450px) {
    .dashboard_content__list_x.list .dashboard_content__item_x .dashboard_content__item_x__info {
        flex: auto;
    }

    .dashboard_content__list_x.list .dashboard_content__item_x__link {
        left: 28px;
    }
}
