/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  margin: 0;
  padding: 0;
  border-width: 0;
}

@font-face {
  font-weight: 400;
  font-family: "Verdana";
  font-style: normal;
  src: url('../assets/fonts/Verdana/Verdana-Regular/Verdana-Regular.eot?') format("eot"), url('../assets/fonts/Verdana/Verdana-Regular/Verdana-Regular.woff2') format("woff2"), url('../assets/fonts/Verdana/Verdana-Regular/Verdana-Regular.woff') format("woff"), url('../assets/fonts/Verdana/Verdana-Regular/Verdana-Regular.ttf') format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: "Verdana";
  font-style: normal;
  src: url('../assets/fonts/Verdana/Verdana-Bold/Verdana-Bold.eot?') format("eot"), url('../assets/fonts/Verdana/Verdana-Bold/Verdana-Bold.woff2') format("woff2"), url('../assets/fonts/Verdana/Verdana-Bold/Verdana-Bold.woff') format("woff"), url('../assets/fonts/Verdana/Verdana-Bold/Verdana-Bold.ttf') format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "Georgia";
  font-style: normal;
  src: url('../assets/fonts/Georgia/Georgia-Regular/Georgia-Regular.eot?') format("eot"), url('../assets/fonts/Georgia/Georgia-Regular/Georgia-Regular.woff2') format("woff2"), url('../assets/fonts/Georgia/Georgia-Regular/Georgia-Regular.woff') format("woff"), url('../assets/fonts/Georgia/Georgia-Regular/Georgia-Regular.ttf') format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: "Georgia";
  font-style: normal;
  src: url('../assets/fonts/Georgia/Georgia-Bold/Georgia-Bold.eot?') format("eot"), url('../assets/fonts/Georgia/Georgia-Bold/Georgia-Bold.woff2') format("woff2"), url('../assets/fonts/Georgia/Georgia-Bold/Georgia-Bold.woff') format("woff"), url('../assets/fonts/Georgia/Georgia-Bold/Georgia-Bold.ttf') format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "FinancierText";
  font-style: normal;
  src: url('../assets/fonts/FinancierText/FinancierText-Regular/FinancierText-Regular.eot?') format("eot"), url('../assets/fonts/FinancierText/FinancierText-Regular/FinancierText-Regular.woff2') format("woff2"), url('../assets/fonts/FinancierText/FinancierText-Regular/FinancierText-Regular.woff') format("woff"), url('../assets/fonts/FinancierText/FinancierText-Regular/FinancierText-Regular.ttf') format("truetype");
}

@font-face {
  font-weight: 500;
  font-family: "FinancierText";
  font-style: normal;
  src: url('../assets/fonts/FinancierText/FinancierText-Medium/FinancierText-Medium.eot?') format("eot"), url('../assets/fonts/FinancierText/FinancierText-Medium/FinancierText-Medium.woff2') format("woff2"), url('../assets/fonts/FinancierText/FinancierText-Medium/FinancierText-Medium.woff') format("woff"), url('../assets/fonts/FinancierText/FinancierText-Medium/FinancierText-Medium.ttf') format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: "FinancierText";
  font-style: normal;
  src: url('../assets/fonts/FinancierText/FinancierText-Bold/FinancierText-Bold.eot?') format("eot"), url('../assets/fonts/FinancierText/FinancierText-Bold/FinancierText-Bold.woff2') format("woff2"), url('../assets/fonts/FinancierText/FinancierText-Bold/FinancierText-Bold.woff') format("woff"), url('../assets/fonts/FinancierText/FinancierText-Bold/FinancierText-Bold.ttf') format("truetype");
}

@font-face {
  font-weight: 900;
  font-family: "FinancierText";
  font-style: normal;
  src: url('../assets/fonts/FinancierText/FinancierText-Black/FinancierText-Black.eot?') format("eot"), url('../assets/fonts/FinancierText/FinancierText-Black/FinancierText-Black.woff2') format("woff2"), url('../assets/fonts/FinancierText/FinancierText-Black/FinancierText-Black.woff') format("woff"), url('../assets/fonts/FinancierText/FinancierText-Black/FinancierText-Black.ttf') format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "FinancierDisplay";
  font-style: normal;
  src: url('../assets/fonts/FinancierDisplay/FinancierDisplay-Regular/FinancierDisplay-Regular.eot?') format("eot"), url('../assets/fonts/FinancierDisplay/FinancierDisplay-Regular/FinancierDisplay-Regular.woff2') format("woff2"), url('../assets/fonts/FinancierDisplay/FinancierDisplay-Regular/FinancierDisplay-Regular.woff') format("woff"), url('../assets/fonts/FinancierDisplay/FinancierDisplay-Regular/FinancierDisplay-Regular.ttf') format("truetype");
}

@font-face {
  font-weight: 500;
  font-family: "FinancierDisplay";
  font-style: normal;
  src: url('../assets/fonts/FinancierDisplay/FinancierDisplay-Medium/FinancierDisplay-Medium.eot?') format("eot"), url('../assets/fonts/FinancierDisplay/FinancierDisplay-Medium/FinancierDisplay-Medium.woff2') format("woff2"), url('../assets/fonts/FinancierDisplay/FinancierDisplay-Medium/FinancierDisplay-Medium.woff') format("woff"), url('../assets/fonts/FinancierDisplay/FinancierDisplay-Medium/FinancierDisplay-Medium.ttf') format("truetype");
}

@font-face {
  font-weight: 600;
  font-family: "FinancierDisplay";
  font-style: normal;
  src: url('../assets/fonts/FinancierDisplay/FinancierDisplay-SemiBold/FinancierDisplay-SemiBold.eot?') format("eot"), url('../assets/fonts/FinancierDisplay/FinancierDisplay-SemiBold/FinancierDisplay-SemiBold.woff2') format("woff2"), url('../assets/fonts/FinancierDisplay/FinancierDisplay-SemiBold/FinancierDisplay-SemiBold.woff') format("woff"), url('../assets/fonts/FinancierDisplay/FinancierDisplay-SemiBold/FinancierDisplay-SemiBold.ttf') format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: "FinancierDisplay";
  font-style: normal;
  src: url('../assets/fonts/FinancierDisplay/FinancierDisplay-Bold/FinancierDisplay-Bold.eot?') format("eot"), url('../assets/fonts/FinancierDisplay/FinancierDisplay-Bold/FinancierDisplay-Bold.woff2') format("woff2"), url('../assets/fonts/FinancierDisplay/FinancierDisplay-Bold/FinancierDisplay-Bold.woff') format("woff"), url('../assets/fonts/FinancierDisplay/FinancierDisplay-Bold/FinancierDisplay-Bold.ttf') format("truetype");
}

@font-face {
  font-weight: 900;
  font-family: "FinancierDisplay";
  font-style: normal;
  src: url('../assets/fonts/FinancierDisplay/FinancierDisplay-Bold/FinancierDisplay-Bold.eot?') format("eot"), url('../assets/fonts/FinancierDisplay/FinancierDisplay-Bold/FinancierDisplay-Bold.woff2') format("woff2"), url('../assets/fonts/FinancierDisplay/FinancierDisplay-Bold/FinancierDisplay-Bold.woff') format("woff"), url('../assets/fonts/FinancierDisplay/FinancierDisplay-Bold/FinancierDisplay-Bold.ttf') format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "FoundersGrotesk";
  font-style: normal;
  src: url('../assets/fonts/FoundersGrotesk/FoundersGrotesk-Regular/FoundersGrotesk-Regular.eot?') format("eot"), url('../assets/fonts/FoundersGrotesk/FoundersGrotesk-Regular/FoundersGrotesk-Regular.woff2') format("woff2"), url('../assets/fonts/FoundersGrotesk/FoundersGrotesk-Regular/FoundersGrotesk-Regular.woff') format("woff"), url('../assets/fonts/FoundersGrotesk/FoundersGrotesk-Regular/FoundersGrotesk-Regular.ttf') format("truetype");
}

@font-face {
  font-weight: 500;
  font-family: "FoundersGrotesk";
  font-style: normal;
  src: url('../assets/fonts/FoundersGrotesk/FoundersGrotesk-Medium/FoundersGrotesk-Medium.eot?') format("eot"), url('../assets/fonts/FoundersGrotesk/FoundersGrotesk-Medium/FoundersGrotesk-Medium.woff2') format("woff2"), url('../assets/fonts/FoundersGrotesk/FoundersGrotesk-Medium/FoundersGrotesk-Medium.woff') format("woff"), url('../assets/fonts/FoundersGrotesk/FoundersGrotesk-Medium/FoundersGrotesk-Medium.ttf') format("truetype");
}

@font-face {
  font-weight: 600;
  font-family: "FoundersGrotesk";
  font-style: normal;
  src: url('../assets/fonts/FoundersGrotesk/FoundersGrotesk-SemiBold/FoundersGrotesk-SemiBold.eot?') format("eot"), url('../assets/fonts/FoundersGrotesk/FoundersGrotesk-SemiBold/FoundersGrotesk-SemiBold.woff2') format("woff2"), url('../assets/fonts/FoundersGrotesk/FoundersGrotesk-SemiBold/FoundersGrotesk-SemiBold.woff') format("woff"), url('../assets/fonts/FoundersGrotesk/FoundersGrotesk-SemiBold/FoundersGrotesk-SemiBold.ttf') format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: "FoundersGrotesk";
  font-style: normal;
  src: url('../assets/fonts/FoundersGrotesk/FoundersGrotesk-Bold/FoundersGrotesk-Bold.eot?') format("eot"), url('../assets/fonts/FoundersGrotesk/FoundersGrotesk-Bold/FoundersGrotesk-Bold.woff2') format("woff2"), url('../assets/fonts/FoundersGrotesk/FoundersGrotesk-Bold/FoundersGrotesk-Bold.woff') format("woff"), url('../assets/fonts/FoundersGrotesk/FoundersGrotesk-Bold/FoundersGrotesk-Bold.ttf') format("truetype");
}

html,
body {
  height: 100%;
}

@media only screen and (max-width: 1199.98px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 991.98px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 767.98px) {
  html {
    font-size: 11px;
  }
}

@media only screen and (max-width: 575.98px) {
  html {
    font-size: 10px;
  }
}

body {
  min-width: 320px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  font-family: "FinancierText", "Georgia", Arial, serif;
  line-height: 1.5;
  background-color: #004f59;
}

p {
  color: #fff;
}

a {
  color: #fff;
  font-weight: 400;
  font-family: "FoundersGrotesk", "Verdana", Arial, serif;
}

a:hover {
  color: #40c1ac;
}

a:active {
  color: #40c1ac;
}

/*!
 * Bootstrap Grid v4.0.0 (https://getbootstrap.com)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1190px;
  }
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.box {
  max-width: 500px;
  margin: 0 auto;
  padding: 3.125rem 2.5rem;
  background-color: #4c848c;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn-primary {
  height: 40px;
  padding: 16px 28px;
  color: #3f4444;
  font-weight: 500;
  font-size: 18px;
  font-family: "FoundersGrotesk", "Verdana", Arial, serif;
  line-height: 1.4;
  background-color: #40c1ac;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #3f4444;
}

.btn-full-w {
  width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.form-text {
  margin: 1.25rem auto;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 0 12px;
  color: #3f4444;
  font-weight: 500;
  font-size: 16px;
  font-family: "FoundersGrotesk", "Verdana", Arial, serif;
  border: 1px solid #3f4444;
  outline: 1px solid transparent;
  -webkit-transition: 0.3s outline-color, 0.3s border-color;
  transition: 0.3s outline-color, 0.3s border-color;
}

.form-input::-webkit-input-placeholder {
  color: #3f4444;
  font-weight: 500;
  font-size: 16px;
  font-family: "FoundersGrotesk", "Verdana", Arial, serif;
  line-height: 1.6;
}

.form-input::-moz-placeholder {
  color: #3f4444;
  font-weight: 500;
  font-size: 16px;
  font-family: "FoundersGrotesk", "Verdana", Arial, serif;
  line-height: 1.6;
}

.form-input:-ms-input-placeholder {
  color: #3f4444;
  font-weight: 500;
  font-size: 16px;
  font-family: "FoundersGrotesk", "Verdana", Arial, serif;
  line-height: 1.6;
}

.form-input::-ms-input-placeholder {
  color: #3f4444;
  font-weight: 500;
  font-size: 16px;
  font-family: "FoundersGrotesk", "Verdana", Arial, serif;
  line-height: 1.6;
}

.form-input::placeholder {
  color: #95a1a1;
  font-weight: 500;
  font-size: 16px;
  font-family: "FoundersGrotesk", "Verdana", Arial, serif;
  line-height: 1.6;
}

.form-input.form-error {
  border-color: yellow;;
  outline: none;
}

.form-input.form-error:hover, .form-input.form-error:focus, .form-input.form-error:active {
  border-color: yellow;;
  outline: none;
}

.form-error-field {
  margin-top: 4px;
  color: yellow;
  font-size: 16px;
  font-family: "FoundersGrotesk", "Verdana", Arial, serif;
  text-align: left;
}

.input-group {
  display: flex;
  gap: 16px;
}

.radio-label {
  font-weight: 500;
  color: #000000;
  font-family: "FoundersGrotesk", "Verdana", Arial, serif;
  margin-left: 5px;
}

.view-pwd {
  position: absolute;
  top: 8px;
  right: 12px;
  width: 24px;
  height: 24px;
  outline: none;
}

.form-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-bottom: 16px;
}

.form-group--addon .form-input {
  padding-right: 46px;
}

.form-input:disabled {
  color: #3f4444;
  background-color: #a6a9aa;
  border-color: #3f4444;
  cursor: default;
}

.form-input:not(:disabled):not(.form-error):hover,
.form-input:not(:disabled):not(.form-error):focus,
.form-input:not(:disabled):not(.form-error):active {
  border-color: #3f4444;
  outline: 1px solid #3f4444;
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon--eye {
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.75736 11.5543C1.67567 11.3813 1.6333 11.1924 1.6333 11.0011C1.6333 10.8098 1.67567 10.6208 1.75736 10.4479C3.79408 6.15527 6.87064 3.99609 10.9999 3.99609C6.87064 3.99609 3.79408 6.15527 1.75736 10.4479C1.67567 10.6208 1.6333 10.8098 1.6333 11.0011C1.6333 11.1924 1.67567 11.3813 1.75736 11.5543C3.79408 15.8447 6.87279 18.0039 10.9999 18.0039C6.87279 18.0039 3.79408 15.8447 1.75736 11.5543Z' fill='%23EEF2F5'/%3E%3Cpath d='M11 5.54297C7.5346 5.54297 4.99729 7.30039 3.20764 11C4.99729 14.6996 7.5346 16.457 11 16.457C14.4676 16.457 17.0049 14.6996 18.7924 11C17.0028 7.30039 14.4655 5.54297 11 5.54297ZM10.9141 14.7812C8.82581 14.7812 7.13284 13.0883 7.13284 11C7.13284 8.91172 8.82581 7.21875 10.9141 7.21875C13.0024 7.21875 14.6953 8.91172 14.6953 11C14.6953 13.0883 13.0024 14.7812 10.9141 14.7812Z' fill='%23EEF2F5'/%3E%3Cpath d='M20.2425 10.4457C18.2058 6.15527 15.1271 3.99609 11 3.99609C6.87065 3.99609 3.79409 6.15527 1.75736 10.4479C1.67567 10.6208 1.6333 10.8098 1.6333 11.0011C1.6333 11.1924 1.67567 11.3813 1.75736 11.5543C3.79409 15.8447 6.8728 18.0039 11 18.0039C15.1293 18.0039 18.2058 15.8447 20.2425 11.5521C20.408 11.2041 20.408 10.8002 20.2425 10.4457ZM11 16.457C7.53452 16.457 4.99721 14.6996 3.20756 11C4.99721 7.30039 7.53452 5.54297 11 5.54297C14.4654 5.54297 17.0027 7.30039 18.7924 11C17.0048 14.6996 14.4675 16.457 11 16.457Z' fill='%233f4444'/%3E%3Cpath d='M10.9141 7.21875C8.82578 7.21875 7.13281 8.91172 7.13281 11C7.13281 13.0883 8.82578 14.7812 10.9141 14.7812C13.0023 14.7812 14.6953 13.0883 14.6953 11C14.6953 8.91172 13.0023 7.21875 10.9141 7.21875ZM10.9141 13.4062C9.58418 13.4062 8.50781 12.3299 8.50781 11C8.50781 9.67012 9.58418 8.59375 10.9141 8.59375C12.2439 8.59375 13.3203 9.67012 13.3203 11C13.3203 12.3299 12.2439 13.4062 10.9141 13.4062Z' fill='%233f4444'/%3E%3C/svg%3E");
}

.icon--eye-invisible {
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.47622 16.3034L8.17401 13.6056C7.49482 12.8907 7.12177 11.9388 7.13439 10.9528C7.14702 9.96679 7.54432 9.02473 8.24159 8.32746C8.93885 7.63019 9.88092 7.23289 10.8669 7.22027C11.8529 7.20764 12.8049 7.58069 13.5198 8.25988L16.2637 5.51547C14.7554 4.50355 13.0008 3.9971 11.0001 3.99609C6.87077 3.99609 3.78991 6.14668 1.75748 10.4479C1.67579 10.6208 1.63342 10.8098 1.63342 11.0011C1.63342 11.1924 1.67579 11.3813 1.75748 11.5543C2.74963 13.6442 3.98921 15.2272 5.47622 16.3034Z' fill='%23EEF2F5'/%3E%3Cpath d='M20.2426 10.4457C19.4872 8.85457 18.5884 7.55691 17.5463 6.55273L14.4478 9.65228C14.7073 10.3341 14.7642 11.0765 14.6115 11.7899C14.4588 12.5033 14.1031 13.1574 13.5872 13.6733C13.0713 14.1891 12.4172 14.5449 11.7038 14.6975C10.9903 14.8502 10.248 14.7933 9.56613 14.5337L6.93945 17.1606C8.1569 17.7228 9.51042 18.0039 11 18.0039C15.1293 18.0039 18.2102 15.8533 20.2426 11.5521C20.3243 11.3792 20.3667 11.1902 20.3667 10.9989C20.3667 10.8076 20.3243 10.6187 20.2426 10.4457Z' fill='%23EEF2F5'/%3E%3Cpath d='M20.2426 10.4457C19.4873 8.85457 18.5886 7.55691 17.5463 6.55273L16.4532 7.64586C17.3446 8.49771 18.121 9.61211 18.7924 11C17.0049 14.6996 14.4676 16.457 11 16.457C9.95915 16.457 9.00045 16.2968 8.12389 15.9762L6.93945 17.1606C8.1569 17.7228 9.51042 18.0039 11 18.0039C15.1293 18.0039 18.2102 15.8533 20.2426 11.5521C20.3243 11.3792 20.3667 11.1902 20.3667 10.9989C20.3667 10.8076 20.3243 10.6187 20.2426 10.4457Z' fill='%233f4444'/%3E%3Cpath d='M18.8769 3.55696L17.961 2.64001C17.945 2.62403 17.9261 2.61135 17.9052 2.6027C17.8844 2.59405 17.862 2.5896 17.8394 2.5896C17.8168 2.5896 17.7944 2.59405 17.7736 2.6027C17.7527 2.61135 17.7338 2.62403 17.7178 2.64001L15.3681 4.98868C14.0725 4.32696 12.6165 3.9961 11.0001 3.9961C6.87077 3.9961 3.78991 6.14669 1.75748 10.4479C1.67579 10.6208 1.63342 10.8098 1.63342 11.0011C1.63342 11.1924 1.67579 11.3813 1.75748 11.5543C2.56945 13.2645 3.54699 14.6352 4.6901 15.6666L2.41663 17.9395C2.38442 17.9717 2.36632 18.0154 2.36632 18.061C2.36632 18.1065 2.38442 18.1502 2.41663 18.1824L3.33379 19.0996C3.36602 19.1318 3.40972 19.1499 3.45529 19.1499C3.50085 19.1499 3.54455 19.1318 3.57678 19.0996L18.8769 3.80016C18.8929 3.7842 18.9055 3.76525 18.9142 3.74438C18.9228 3.72352 18.9273 3.70115 18.9273 3.67856C18.9273 3.65598 18.9228 3.63361 18.9142 3.61275C18.9055 3.59188 18.8929 3.57292 18.8769 3.55696ZM3.20768 11C4.99733 7.3004 7.53463 5.54298 11.0001 5.54298C12.1718 5.54298 13.2372 5.74407 14.2038 6.15292L12.6935 7.66327C11.9782 7.28163 11.1592 7.13999 10.3573 7.25925C9.55535 7.3785 8.81301 7.75234 8.23973 8.32561C7.66646 8.89889 7.29262 9.64123 7.17337 10.4431C7.05411 11.2451 7.19575 12.0641 7.57739 12.7793L5.78516 14.5716C4.79323 13.6961 3.93815 12.5099 3.20768 11ZM8.50788 11C8.50825 10.6212 8.59799 10.2477 8.76979 9.9101C8.9416 9.57245 9.19063 9.28009 9.49665 9.05677C9.80268 8.83344 10.1571 8.68546 10.531 8.62483C10.905 8.5642 11.288 8.59264 11.6489 8.70784L8.62196 11.7348C8.54609 11.4972 8.5076 11.2494 8.50788 11Z' fill='%233f4444'/%3E%3Cpath d='M10.9141 13.4063C10.8398 13.4063 10.7665 13.4029 10.6939 13.3962L9.55908 14.531C10.2416 14.7924 10.9853 14.8505 11.7001 14.6982C12.4149 14.546 13.0704 14.19 13.5872 13.6732C14.104 13.1563 14.46 12.5009 14.6123 11.7861C14.7645 11.0712 14.7064 10.3276 14.445 9.64503L13.3102 10.7798C13.3169 10.8525 13.3203 10.9257 13.3203 11.0001C13.3205 11.3161 13.2584 11.6291 13.1375 11.9211C13.0167 12.2131 12.8394 12.4784 12.6159 12.7019C12.3925 12.9254 12.1271 13.1026 11.8351 13.2235C11.5431 13.3443 11.2301 13.4065 10.9141 13.4063Z' fill='%233f4444'/%3E%3C/svg%3E");
}

.header {
  padding: 1.5625rem 2.5rem;
  border-bottom: 1px solid #d1dde6;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-button {
  width: 100%;
  text-align: right;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.auth-content {
  padding: 6.25rem 15px 0;
  text-align: center;
}

.main > iframe {
  display: block;
  width: 100%;
  min-height: 100%;
  border: none;
}

main.main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

section.section {
  overflow: hidden;
}

.login-page {
  text-align: center;
}

.logo {
  margin-bottom: 1.25rem;
}

.error-box {
  border-width: 1px;
  border-style: solid;
  border-color: #3f4444;
  background-color: pink;
  padding: 1em;
  font-family: "FoundersGrotesk", "Verdana", Arial, serif;
  text-align: left;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  font-family: "FoundersGrotesk", "Verdana", Arial, serif;
  margin-top: 2px;
}

.link-button:hover {
  color: #40c1ac;
}

.link-button:active {
  color: #40c1ac;
}

.form-title {
  color: black;
  font-family: "FoundersGrotesk", "Verdana", Arial, serif;
  font-weight: 500;
}

.form-description {
  color: lightyellow;
  font-family: "FoundersGrotesk", "Verdana", Arial, serif;
  text-align: left;
  margin-top: 5px;
}

.toast {
  top: 30px;
  padding: 12px 20px;
  display: inline-block;
  background-color: forestgreen;
  position: fixed;
  font-family: "FoundersGrotesk", "Verdana", Arial, serif;
  font-size: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: fit-content;
  max-width: -moz-fit-content;
  z-index: 2147483647;
}

.error-page {
  padding: 50px;
  font-family: "FoundersGrotesk", "Verdana", Arial, serif;
}

@media (max-width: 480px) {
  .mobile-hide {
    display: none;
  }

  .btn-mobile {
    height: 30px;
    padding: 16px 12px;
  }
}

@media (min-width: 481px) {
  .mobile-show {
    display: none;
  }
}
